@charset "UTF-8";
*{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
body{
    background-image: linear-gradient(to right,#BFBAAA,#591A15);
}
main{
    background-color: #F2F2F2 ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #010D00;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #260101 ;
    text-align: center;
}
h2{
    color: #591A15;
}
p{
    text-align: justify;
}